<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete an Employee</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Which employee is leaving?</h1>
    <form class="" action="/delete" method="get">
      <p>Name <input name="name" type="text"></p>
      <input type="submit" value="Delete">
    </form>
    <button><a href="/">HOME</a></button>
  </body>
</html>
